#sidebar {
  position: absolute;
  background-color: #ffffff;
  width: var(--plasmo-google-sidebar-width);
  height: 100vh;
  margin-right:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
overflow-y: scroll;
  transition: all 0.5s ease;
}

#sidebar.open {
  left: calc(var(--plasmo-google-sidebar-width) * -1);
}

#sidebar.closed {
  left: 0px;
}

#sidebar p {
  padding: 0 24px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
}

.sidebar-toggle {
  position: fixed;
  right: 4.7px;
  bottom: 47px;
}
